<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polls</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>

<body>
    <nav class="navbar is-light">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'polls:index' %}">Polls</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            
        </div>
    </nav>
    <section class="section">
    <div class="columns">
        <div class="column">
            <div class="card-">
                <div class="card-header">
                       <h1 class="title is-1">
                            {% block title %} {% endblock %}
                       </h1> 
                </div>
                <div class="card-content">
                        {% block content %}<!-- default content text (typically empty) -->{% endblock %}

                </div>
            </div>
        </div>
    </div>
           
    </section>
    
</body>
</html>